<div class="container main-container">

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="pacman" [fullScreen]="true">
        <p style="color: white"> carregando... </p>
    </ngx-spinner>

    <h1>Lista de Produtos</h1>
    <hr>

    <p>
        <a class="btn btn-primary" [routerLink]="['/produtos/adicionar-novo']">Novo Produto</a>
    </p>

    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>

                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Fornecedor
                    </th>
                    <th>
                        Valor
                    </th>
                    <th>
                        Ativo?
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtos">
                    <td>
                        <img src="{{ produto.imagem }}" style="width: 70px; height: 100px">
                    </td>
                    <td>
                        {{ produto.nome }}
                    </td>
                    <td>
                        {{ produto.nomeFornecedor }}
                    </td>
                    <td>
                        {{ produto.valor | currencyBrazil }}
                    </td>
                    <td>
                        <span *ngIf="produto.ativo" class="badge badge-pill badge-success">Sim</span>
                        <span *ngIf="!produto.ativo" class="badge badge-pill badge-danger">Não</span>
                    </td>
                    <td class="text-right">
                        <a class="btn btn-info" [routerLink]="['/produtos/detalhes',produto.id]">
                            <span class="fa fa-search"></span>
                        </a>&nbsp;
                        <a class="btn btn-warning" [routerLink]="['/produtos/editar',produto.id]">
                            <span class="fa fa-pencil"></span>
                        </a>&nbsp;
                        <a class="btn btn-danger" [routerLink]="['/produtos/excluir',produto.id]">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>